@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-custom{
  background-image: url('/images/mobile.svg');
  /* background-position: 6rem; */
  height: 50rem;
  background-repeat: no-repeat;
}